name: Build Geode Mod

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-win:
    name: Windows Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: geode-sdk/build-geode-mod@main
        with:
          target: Win
          combine: true

      - name: Upload Windows
        uses: actions/upload-artifact@v4
        with:
          name: Windows-Package
          path: "*.geode"

  build-android:
    name: Android Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: geode-sdk/build-geode-mod@main
        with:
          target: Android
          combine: true

      - name: Upload Android
        uses: actions/upload-artifact@v4
        with:
          name: Android-Package
          path: "*.geode"

