name: Build Geode Mod

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: Windows
            os: windows-latest
          - name: Android
            os: ubuntu-latest

    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build Mod
        # Cambiado a v2 para mayor estabilidad
        uses: geode-sdk/build-geode-mod@v2
        with:
          combine: true
          target: ${{ matrix.config.name == 'Android' && 'Android' || '' }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.config.name }}-Package
          path: "*.geode"
          
